$red-500: rgb(248, 112, 112);

$blue-300: rgb(112, 243, 248);
$blue-600: rgb(30, 33, 63);
$blue-700: rgb(22, 25, 50);

$purple-200: rgb(216, 129, 248);

$white-100: rgb(255, 255, 255);
$gray-200: rgb(215, 224, 255);
$gray-300: rgb(239, 241, 250);
